<div>
  <h1>CI/CD test 2</h1>
  <div class="row" style="padding-bottom: 10px">
    <button class="btn orange" onclick="window.open('https://www.imdb.com/title/tt0120915/?ref_=nv_sr_srsg_8','_blank')">IMDB Episode I</button>
    <button class="btn orange" onclick="window.open('https://www.imdb.com/title/tt0121765/?ref_=tt_sims_tt','_blank')">IMDB Episode II</button>
    <button class="btn orange" onclick="window.open('https://www.imdb.com/title/tt0121766/?ref_=tt_sims_tti','_blank')">IMDB Episode III</button>
    <button class="btn orange" onclick="window.open('https://www.imdb.com/title/tt0076759/?ref_=tt_sims_tti','_blank')">IMDB Episode IV</button>
    <button class="btn orange" onclick="window.open('https://www.imdb.com/title/tt0060028/?ref_=nv_sr_srsg_8','_blank')">IMDB Episode V</button>
    <button class="btn orange" onclick="window.open('https://www.imdb.com/title/tt0086190/?ref_=tt_sims_tti','_blank')">IMDB Episode VI</button>
  </div>

  <ul class="nav nav-tabs">
    <li class="nav-item" routerLinkActive="active">
      <a routerLink="/characters/all">Al</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a routerLink="/characters/light">Light</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a routerLink="/characters/dark">Dark</a>
    </li>
  </ul>
  <router-outlet></router-outlet>
</div>
